# ==============================
# Serena Soft
# ==============================

# NetBeans
/build/
/dist/
/nbproject/private/

# Java compilado
*.class

# Logs
*.log

# Archivos temporales
*.tmp
*.temp

# Windows
Thumbs.db
Desktop.ini

# Configuración sensible
.env
config.properties

# Bases de datos y backups
*.sql
*.bak

# IDE
.idea/
.vscode/